<%- include('templates/head.ejs') %>
<body>
    <main class="main-error">
        <h2>Te sugerimos revises la dirección o vuelvas a intentarlo en unos minutos <a href="/">Volver al inicio</a></h2>
        <img src="/img/oops-og.webp" alt="error 404">
    </main>
</body>
</html>