<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Rabbit Inc</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
      <div>
        <img src="/logo/bunny.webp" alt="" />
        <h1><a href="/">White Rabbit Inc</a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/departamento/CEO">CEO</a></li>
          <li><a href="/departamento/Clientes">Clientes</a></li>
          <li><a href="/departamento/Ventas">Ventas</a></li>
          <li><a href="/departamento/Desarrollo">Desarrollo</a></li>
        </ul>
      </nav>
    </header>